@if (field) {
  <div class="ff_box">
    @if (!disableLabel) {
      <span class="ff_label">{{ field.label ?? "" | translate }}</span>
    }
    <span class="ff_input">
      @switch (field.type) {
        @case (InputType.NUMBER) {
          <input
            [id]="field.id"
            type="number"
            class="ff_number"
            [formControl]="field.formControl!"
            [ngClass]="{
              invalid: field.formControl?.invalid && field.formControl?.dirty,
            }"
            [min]="0"
          />
          @if (field.metrics) {
            <span class="ff_info_label">{{
              field.metricsLabel ?? "" | translate
            }}</span>
          }
        }
        @case (InputType.SMALL_STRING) {
          <input
            [id]="field.id"
            type="text"
            class="ff_number"
            [formControl]="field.formControl!"
            [ngClass]="{
              invalid: field.formControl?.invalid && field.formControl?.dirty,
            }"
            [maxLength]="100"
          />
        }
        @case (InputType.SLIDER) {
          <input
            type="range"
            min="0"
            max="100"
            step="1"
            class="ff_slider"
            [value]="getCurrentSliderValue()"
            (input)="onSliderInput($event)"
            [style.background]="sliderBackground"
            [formControl]="field.formControl!"
          />
        }
        @case (InputType.TEXT) {
          <textarea
            [id]="field.id"
            class="ff_textarea"
            [maxLength]="500"
            [class]="field.class ?? ''"
            [formControl]="field.formControl!"
          ></textarea>
        }
        @case (InputType.CHECKBOX) {
          <input
            [id]="field.id"
            type="checkbox"
            class="ff_checkbox"
            [class]="field.class ?? ''"
            [formControl]="field.formControl!"
          />
          <span class="ff_info_label">{{
            field.infoText ?? "" | translate
          }}</span>
        }
        @case (InputType.SELECT_DROPDOWN) {
          <ng-select
            [ngClass]="{
              invalid: field.formControl?.invalid && field.formControl?.dirty,
            }"
            [formControl]="field.formControl!"
            [class]="field.class ?? ''"
            [clearable]="false"
            class="ff_dropdown"
            bindLabel="name"
          >
            @for (option of field.options; track option.value) {
              <ng-option [value]="option.value">
                {{ option.label ?? "" | translate }}
              </ng-option>
            }
          </ng-select>
        }
        @case (InputType.MULTIPLE_CHOICE) {
          <ng-select
            [ngClass]="{
              invalid: field.formControl?.invalid && field.formControl?.dirty,
            }"
            [formControl]="field.formControl!"
            [class]="field.class ?? ''"
            [clearable]="false"
            [multiple]="true"
            class="ff_dropdown"
          >
            @for (option of field.options; track option.value) {
              <ng-option [value]="option.value">
                {{ option.label ?? "" | translate }}
              </ng-option>
            }
          </ng-select>
        }
        @case (InputType.TIMER) {}
        @case (InputType.EMOJI_SCALE) {
          <div
            class="emoji_scale"
            role="radiogroup"
            aria-label="Mood"
            [id]="field.id"
          >
            @for (e of emojis; track e.value) {
              <button
                class="emoji_button"
                [class.is-selected]="selected === e.value"
                (click)="pick(e.value)"
                [attr.aria-checked]="selected === e.value"
                [title]="e.alt"
              >
                <img class="emoji_icon" [src]="e.src" [alt]="e.alt" />
              </button>
            }
          </div>
        }
        @case (InputType.RADIO) {
          <div class="radio-box">
            <input
              type="radio"
              [formControl]="field.formControl!"
              [value]="field.value"
              class="radio-button"
            />
            <div class="ff_label">{{ field.infoText | translate }}</div>
          </div>
        }
        @case (InputType.INFO_TEXT) {
          <div class="ff_label">{{ field.value }}</div>
        }
      }
    </span>
  </div>
}
