/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #303543;
  --header-color: #232732;
  --primary-color: #FF7A30;
  --secondary-color: #FFFFFF;
  --select-color: #FEFFC0;
  --unselect-color1: #939B9D;
  --unselect-color2: #50525A;
}
